<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-s">
                <div class="card-body text-center">
                    <h3 class="text-t">All Messages</h3>
                    <p>From here you can manage Contacts</p>
                    <button class="btn btn-info ml-2" routerLink = '/' >Back to the Dashboard</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row mt-5">


        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <div class="table row-boreder hover">
                        <thead>
                            <tr>
                                <th width = '30'>No</th>
                                <th width= '150'>Name</th>
                                <th  width= '150'>Email</th>
                                <th width= '350'>Message</th>
                                <th width = '150' >CreatedAt</th>
                                <th  width= '200' >Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = 'let mes of contacsArray |async , let i = index ' >
                                <td width= '10'> {{i + 1}} </td>
                                <td width= '150'> {{mes.name}}</td>
                                <td width= '150' > {{mes.email}}  </td>
                                <td width= '350' > {{mes.message}}  </td>
                                <td width= '150' > {{mes.sendAt.toMillis()|date  }}  </td>
                                <td>
                                    <button class="btn btn-sm btn-danger ml-2" (click) = 'onDelete(mes.id)'>Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>